<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard - PantryPal</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main">
        <nav>
            <form action="/homepage/profilepage" method="post" style="display:inline;">
                <input type="hidden" name="email" th:value="${user.uEmail}">
                <button type="submit" style="text-decoration: none;">Profile</button>
            </form>
            <form action="/homepage/add-food" method="post" style="display:inline;">
                <input type="hidden" name="email" th:value="${user.uEmail}">
                <button type="submit" style="text-decoration: none;">Add Food</button>
            </form>
            <form action="/sort-food" method="get">
                <input type="hidden" name="email" th:value="${user.uEmail}">
                <button type="submit" style="text-decoration: none;">Sort Food</button>
            </form>
        </nav>

        <h2>Your Pantry</h2>
        <div>
            <div th:each="item : ${pantryItems}"
                 class="food-item"
                 th:attr="onclick=|alert('Brand: ' + '${item.fBrand}')|">
                <span th:text="${item.fName}">Food Name</span>
            </div>
        </div>
    </div>
</body>
</html>
